@import "tailwindcss";

@theme {
	--font-sans: "Inter", sans-serif;
	--font-mono: "Geist Mono", monospace;
	--font-mono--font-feature-settings: "ss09" on;
	--color-green: #00e67b;
}

html {
	background: #dcd8d3;
}

.cta {
	@apply font-mono leading-tight p-4 inline-block hover:underline focus:outline-none focus-visible:!bg-black focus-visible:text-white;

	&.primary {
		@apply bg-green;
	}
}

.rich-text > h1, .heading-1 {
	@apply font-bold text-[max(5rem,5vw)] leading-none;
}

.rich-text > h2, .heading-2 {
	@apply font-bold text-[max(2.5rem,2.5vw)] leading-none;
}

.rich-text > h3, .heading-3 {
	@apply font-bold text-[max(1.25rem,1.25vw)] leading-none;
}

.rich-text > p, .paragraph {
	@apply font-mono max-w-[60ch] hyphens-auto;

	&:not(:first-child) {
		@apply mt-4;
	}
}

.rich-text > dl, .data-list {
	@apply font-mono max-w-[40ch] hyphens-auto;

	&:not(:first-child) {
		@apply mt-4;
	}

	& > div {
		@apply flex justify-between;
	}

	& dt {
		@apply font-bold;
	}
}

.rich-text {
	& > p, & > dl {
		& > a {
			@apply underline focus:outline-none focus:bg-black focus:text-white;
		}
	}
}
